.idea/
.bsp/
project/project
**/target/
*.log
*.out
*.class
/www/hugo_stats.json
/www/go.sum
/www/.hugo_build.lock
/www/themes/small-apps/node_modules/
/www/themes/small-apps/package-lock.json
.metals/
.vscode/
**/src/**/user-local.conf
