$neutral-black: #25292F;

$neutral-white: #FDFDFD;

$mono-100: #455875;
$mono-90: #586983;
$mono-80: #6A7991;
$mono-70: #7D8A9E;
$mono-60: #8F9BAC;
$mono-50: #A2ACBA;
$mono-40: #B5BCCA;
$mono-30: #C7CDD6;
$mono-20: #DADEE3;
$mono-10: #ECEEF1;

$primary-100: #00488A;
$primary-90: #1064A9;
$primary-80: #1974BA;
$primary-70: #2486CC;
$primary-60: #2D93D9;
$primary-50: #4AA2DE;
$primary-40: #68B2E2;
$primary-30: #91C8EB;
$primary-20: #BBDDF3;
$primary-10: #E3F1F9;

$secondary-100: #006538;
$secondary-90: #008355;
$secondary-80: #009463;
$secondary-70: #00A573;
$secondary-60: #00B380;
$secondary-50: #00C191;
$secondary-40: #03CEA5;
$secondary-30: #71DDC0;
$secondary-20: #ACEAD8;
$secondary-10: #DDF7F0;

$tertiary-100: #581A3B;
$tertiary-90: #7A2247;
$tertiary-80: #8E264E;
$tertiary-70: #A32955;
$tertiary-60: #B22B59;
$tertiary-50: #B8466E;
$tertiary-40: #BD6485;
$tertiary-30: #CB8EA5;
$tertiary-20: #DFB9C8;
$tertiary-10: #F1E2E9;

$surface-light-1: #FBFCFC;
$surface-light-2: #F8F8FA;
$surface-light-3: #EEF2F7;

$surface-dark-1: #36455B;
$surface-dark-2: #394860;
$surface-dark-3: #394961;

$functional-error-100: #FF6361;
$functional-error-80: #FF8281;
$functional-error-60: #FFA1A0;
$functional-error-40: #FFC1C0;
$functional-error-20: #FFE0DF;

$functional-warning-100: #FFCC48;
$functional-warning-80: #FFD66D;
$functional-warning-60: #FFE091;
$functional-warning-40: #FFEBB6;
$functional-warning-20: #FFF5DA;

$functional-success-100: #52BD64;
$functional-success-80: #75CA83;
$functional-success-60: #97D7A2;
$functional-success-40: #BAE5C1;
$functional-success-20: #DCF2E0;

